html, body {
  margin: 0;
  padding: 0;
}

.textCenter{
  text-align: center;
}
.card{
  display: inline-block;
  margin:0.5em;
}

.card, .card-img-top{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card{
  background-color:rgba(255, 255, 255, 0.9);
}

body {
  background-color: #8bbabb;
}

.jumbotron {
  background-color: #8bbabb;
}

h1 {
  color:#eeeeee;
}

canvas {
  position:fixed;
  width: 800px;
  height: 800px;
  top: 60%;
  left: 50%;
  margin-top: -400px; /* Negative half of height. */
  margin-left: -400px; /* Negative half of width. */
  z-index: -3;
}

.zoom:hover{
    transition-duration: 0.5s;
    transform: scale(1.1, 1.1);
}

.zoom{
    transition-duration: 0.5s;
    width:18rem;
    height: 30rem;

}
/*
edit to update github pages
*/
